@import '../../variables.scss';

.hero {
    padding-top: 20px;
    &__wrapper {
        margin-bottom: 30px;
        width: 100%;
        border-radius: 25px;
        background: $light-geen;
        overflow: hidden;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        &--desktop {
           display: none;
        }
    }

    &__bg-leave-1 {
        position: absolute;
        top: 90px;
        right: 5px;
    }

    &__bg-leave-2 {
        position: absolute;
        top: 44px;
        right: 0;
    }

    &__bg-leave-3 {
        position: absolute;
        top: 31px;
        right: 58px;
    }

    &__bg-leave-4 {
        position: absolute;
        bottom: 15px;
        left: 10px;
    }

    &__image-wrapper {
        position: relative;
        padding-top: 20px;
        z-index: 1;
    }


    &__product-images {
        position: relative;
    }

    &__buttons-container {
        padding: 30px 0 50px 0; 
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__bottom {
        padding: 0 15px;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__product-price {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 32px;
        color: $red_color;
    }

    &__product-compare {
        font-size: 22px;
        color: $little_gray;
        text-decoration: line-through;
    }

    &__product-title {
        padding-top: 15px;
        font-size: 28px;
        line-height: 1.3;
        text-align: left;
    }

    &__product-description {
        font-size: 14px;
        font-weight: 300;
        line-height: 2;
        text-align: left;
    }

    @media screen and (min-width: $tabletXL) {
        &__wrapper {
            display: flex;
        }

        &__product-images {
            order: 2
        }

        &__product-images {
            position: relative;
        }

        &__bottom {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__product-title {
            padding-top: 0;
            font-size: 38px;
            font-weight: 600;
        }

        &__product-info {
            display: flex;
            flex-direction: column;
        }

        &__price {
            padding-top: 25px;
            order: 3;
        }

        &__bg {
            display: none;

            &--desktop {
                position: absolute;
                bottom: 0;
                right: 0;
                display: block;
            }
        }
    }

    @media screen and (min-width: $laptop) {
        &__bottom {
            padding: 60px 15px 0 75px;
        }

        &__product-title {
            font-size: 48px;
            font-weight: 600;
        }

        &__product-description {
            font-size: 16px;
        }

        &__image-wrapper {
            padding-top: 60px;
        }
    }
}