@import '../../variables.scss';

.footer {
    &__wrapper {
        padding: 35px 10px 28px 10px;
    }

    &__top {
        padding-bottom: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    &__bottom {
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $little_gray_stroke;
    }

    &__icons {
        display: flex;
        gap: 5px;
    }

    &__bottom-text {
        font-size: 14px;
        font-weight: 400;
        color: $little_gray;
    }

    &__left-menu,
    &__right-menu {
        // grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: left;

        li {
            font-size: 14px;
            font-weight: 400;
            color: $little_gray;
        }
    }

    &__logo-wrapper {
        padding-bottom: 40px;
        grid-column: 1 / 3;

    }
}