@import '../../variables.scss';

.footer {
    &__wrapper {
        padding: 35px 10px 28px 10px;
    }

    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__left-menu,
    &__right-menu {
        // grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__logo-wrapper {
        grid-column: 1 / 3;
    }
}