@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';

.main-button {
    padding: 20px 30px;
    font-weight: 600;
    font-style: 22px;
    color: $green_color;
    border: 1px solid $little_gray_stroke;
}

.header-indent {
    margin: 114px auto 0 !important;

    @media screen and (min-width: $tabletXL) {
        margin: 122px auto 0 !important;
    }
}