$mobileSM:                                        410px;
$mobile:                                          576px;
$tablet:                                          768px;
$tabletXL:                                        992px;

$laptop:                                         1100px;
$laptop:                                         1200px;
$laptopXL:                                       1300px;
$desktop:                                        1400px;
$desktopXL:                                      1499px;
$desktopXXL:                                     1599px;
$desktopXXXL:                                    1749px;

$white_color:                                  #fff;
$main_color:                                   #1f2533;
$little_gray:                                  #70737C;
$little_gray_stroke:                           #efefef;
$light-geen:                                   #eaf1eb;
$red_color:                                    #e55c5c;
$green_color:                                  #359740;
$yellow_color:                                 #ffcf55;
$primary-color:                                #4fa083;

.main-wrapper {
    padding: 0 15px;
    max-width: 1100px;
    margin: 0 auto;
}

.green-button {
    padding: 16px 33px;
    border-radius: 8px;
    color: $white_color;
    font-size: 14px;
    background: $green_color;
    transition: all .4s ease;

    &:hover {
        color: $green_color;
        background: $white_color;
    }

    @media screen and (min-width: $laptop) {
        font-size: 16px;
    }
}

.transparent-button {
    padding: 16px 33px;
    border-radius: 8px;
    font-size: 14px;
    color: $green_color;
    background: $white_color;
    transition: all .4s ease;

    &:hover {
        color: $white_color;
        background: $green_color;
    }
}

.wishlist-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white_color;
    border: 1px solid $little_gray_stroke;
    border-radius: 100%;
    transition: all .3s ease;

    &--active {
        border: 1px solid $yellow_color;
    }
}

.h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;

    @media screen and (min-width: $tabletXL) {
         font-size: 36px;
    }
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}