$white_color: #fff;
$main_color: #1f2533;

$little_gray: #70737C;
$little_gray_stroke:  #efefef;
$light-geen: #eaf1eb;
$red_color: #e55c5c;
$green_color: #359740;


.main-wrapper {
    padding: 0 15px;
}

.green-button {
    padding: 16px 33px;
    border-radius: 8px;
    color: $white_color;
    font-size: 14px;
    background: $green_color;
    transition: all .4s ease;

    &:hover {
        color: $green_color;
        background: $white_color;
    }
}

.transparent-button {
    padding: 16px 33px;
    border-radius: 8px;
    font-size: 14px;
    color: $green_color;
    background: $white_color;
    transition: all .4s ease;

    &:hover {
        color: $white_color;
        background: $green_color;
    }
}