@import '../../variables.scss';

.blogs {
    margin-top: 40px;

    &__top {
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        overflow-x: auto;
    }

    @media screen and (min-width: $tabletXL) {
        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
        }
    }
  
}