@import '../../variables.scss';


.reviews {
    &__slide {
        min-width: 540px;
        max-width: 540px;
        width: 100%;
        padding: 42px 33px;
        border-radius: 12px;
        border: 1px solid $little_gray_stroke;
        box-shadow: 0 4px 21px 0 rgba(209, 209, 209, 0.25);
        background: $white_color;
    }

    &__slide-top {
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__slide-info {
        text-align: left;
    }

    &__slide-name {
        display: block;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
    }

    &__slide-date {
        font-size: 14px;
        font-weight: 400;
        color: $little_gray;
    }

    &__slide-rating {
        padding-bottom: 10px;
        text-align: left;
    }

    &__slide-text {
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.7;
    }

    .swiper {
        padding: 50px 0;
        overflow: unset;
    }

    .swiper-slide {
        transform: translateY(0) !important;
        transition: transform .3s ease;
    }

    .swiper-slide-active {
        transform: translateY(-20px) !important;
    }

    //Swiper pagination styles
    
    .swiper-pagination-bullet {
        height: 6px;
        width: 35px;
        border-radius: 30px;
    }

    .swiper-pagination-bullet-active {
        background: $green_color;
    }

    
}
